{% extends "admin.html" %}

{% block admin_content %}
    {% if promos|length == 0 %}
    <div class="alert alert-info">Currently there are no promos requiring verification</div>
    {% else %}
    {% for promo in promos %}
    <div class="alert alert-primary">
        <div class="alert alert-primary">
            <h2><a href="{{ promo.url }}" style="color: #000000;">{{ promo.header }}</a></h2>
            <p><a href="{{ promo.url }}" style="color: #000000;">{{ promo.text }}</a></p>
        </div>
        <a class="btn btn-success" href="/admin/promos/verify/{{ promo.id }}">Verify</a>
        <a class="btn btn-danger" href="/admin/promos/decline/{{ promo.id }}">Decline</a>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}