<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Promo table</title>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/" target="_blank"><h3>MainBoard</h3></a>
    </nav>
</head>
<body>
    {% for promo in promos %}
        <div class="alert alert-primary">
            <h3>{{ promo.header }}</h3>
            <p>{{ promo.text }}</p>
        </div>
    {% endfor %}
</body>
</html>